DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
TRADE_WORKER_CONSUMER=
TRADE_RECOVERY_CONSUMER=
CANDLE_INTERVAL=1m
CANDLE_GRACE_SECONDS=2
API_HOST=
API_PORT=
API_CACHE_TTL_LIVE_SECONDS=5
API_CACHE_TTL_CLOSED_SECONDS=600
API_CACHE_SETTLE_SECONDS=60
API_MAX_PAGE_SIZE=1000
API_DEFAULT_PAGE_SIZE=100
API_SYMBOLS='{"binance": ["BTC-USDT"]}'